{% extends '_base.html' %}
{% load static %}

{% block title %}About Us{% endblock title %}About Us


{% block content %}

    <!-- about us page -->
    <div id="about_us_page" class="about-us-page animate__animated animate__fadeInUp">
        <div class="sp_header ">
           <div class="container custom_container ">
              <div class="row ">
                 <div class="col-12 ">
                    <ul class="py-md-3 px-0 bg-light">
                       <li class="d-inline-block font-weight-bolder"><a href="index-2.html">home</a></li>
                       <li class="d-inline-block  font-weight-bolder"><a href="#" class="hr_">About us </a></li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
        <div class="container info_container">
           <div class="row">
              <div class="col-12">
                 <div class="title_outer">
                    <h1 class=" d-inline-block position-relative h1_">About us </h1>
                 </div>
                 <!-- title_outer -->
              </div>
              <!-- col-12 -->
           </div>
           <!-- row -->
           <div class="bg-white rounded py-3">
              <div class="container custom_container">
                 <div class="row">
                    <div class="col-12">
                       <div class="mt-3 mt-lg-2 f_18">
                          <h4 class="">Nunc placerat augue vel porta elementum consequat velit sit amet.</h4>
                          <p class="font-weight-bolder text-muted mt-3 f_13">Aliquam pharetra enim eget sollicitudin cursus. Phasellus quis lorem mi. Vestibulum luctus velit sit amet malesuada molestie. Mauris aliquam lacinia ligula, a scelerisque elit interdum non. Integer bibendum lacus sit amet ullamcorper vestibulum a scelerisque elit interdum non. Integer bibendum lacus sit amet ullamcorper vestibulum Aliquam pharetra enim eget sollicitudin cursus. Phasellus quis lorem mi. Vestibulum luctus velit sit amet malesuada molestie. Mauris aliquam lacinia ligula, a scelerisque elit interdum non. Integer bibendum lacus sit amet ullamcorper vestibulum.</p>
                          <p class="font-weight-bolder text-muted f_13">Nullam in neque vitae arcu auctor dignissim feugiat erat. Aliquam pharetra enim eget sollicitudin cursus. Phasellus quis lorem mi. Vestibulum luctus velit sit amet malesuada molestie. Mauris aliquam lacinia ligula, a scelerisque elit interdum non. Integer bibendum lacus sit amet ullamcorper vestibulum Aliquam pharetra enim eget sollicitudin cursus. Phasellus quis lorem mi.</p>
                          <p class="font-weight-bolder text-muted f_13">a scelerisque elit interdum non. Integer bibendum lacus sit amet ullamcorper vestibulum Aliquam pharetra enim eget sollicitudin cursus. Phasellus quis lorem mi. Vestibulum luctus velit sit amet malesuada molestie. Mauris aliquam lacinia ligula, a scelerisque elit interdum non. Integer bibendum lacus sit amet ullamcorper vestibulum.</p>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="container custom_container ab_services_container">
                 <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-12">
                       <div class="service-item">
                          <div>
                             <img class="img-fluid" src="{% static 'img/1-1.jpg' %}" alt="1-1">
                          </div>
                          <div class="about-content pb-2">
                             <h3 class="">Quality</h3>
                             <p class="font-weight-bolder text-muted mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis ligula eu lectus vulputate porttitor sed feugiat nunc. Mauris ac consectetur ante, dapibus gravida tellus. Nullam aliquet eleifend dapibus.
                             </p>
                          </div>
                       </div>
                    </div>
                    <div class="col-xl-3 col-md-6  col-sm-12">
                       <div class="service-item">
                          <div>
                             <img class="img-fluid" src="{% static 'img/6.jpg' %}" alt="1-1">
                          </div>
                          <div class="about-content pb-2">
                             <h3 class="">Teamwork</h3>
                             <p class="font-weight-bolder text-muted mb-0">
                                Maecenas quis viverra metus, et efficitur ligula. Nam congue augue et ex congue, sed luctus lectus congue. Integer convallis condimentum sem. Duis elementum tortor eget condimentum tempor
                             </p>
                          </div>
                       </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12">
                       <div class="service-item">
                          <div>
                             <img class="img-fluid" src="{% static 'img/2-1.jpg' %}" alt="1-1">
                          </div>
                          <div class="about-content pb-2">
                             <h3 class="">Respect</h3>
                             <p class="font-weight-bolder text-muted mb-0">
                                Cras sagittis, ex euismod lacinia tempor, lectus orci elementum augue, eget auctor metus ante sit amet velit. Praesent sollicitudin lectus ut pharetra pulvinar. Donec et libero ligula.
                             </p>
                          </div>
                       </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-12">
                       <div class="service-item">
                          <div>
                             <img class="img-fluid" src="{% static 'img/4.jpg' %}" alt="1-1">
                          </div>
                          <div class="about-content pb-2">
                             <h3 class="">Responsibility</h3>
                             <p class="font-weight-bolder text-muted mb-0">
                                Maecenas quis viverra metus, et efficitur ligula sed luctus lectus congue. Integer convallis condimentum sem. Duis elementum tortor eget condimentum tempor. 
                             </p>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <!-- container custom_container -->
              <div class="container custom_container about_blockquote text-center">
                 <div class="row">
                    <div class="col-12">
                       <h4>
                          <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</strong>
                       </h4>
                       <blockquote>
                          <p>"Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit"</p>
                       </blockquote>
                    </div>
                 </div>
              </div>
              <!-- container custom_container -->
           </div>
           <!-- bg-white rounded p-3 -->
        </div>
        <!-- portfolio_2_page -->
        <!-- about us page end -->
{% endblock content %}


