{% load static %}


<div class="footer animate__animated animate__fadeInUp">
    <!-- services -->
    <div class="container">
      <div class="main_services">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-6 m_service py-md-4 py-sm-2 my-md-0 my-sm-2">
            <ul class="service rounded text-center animate__animated animate__fadeInUp" data-wow-duration="0.8s"
              data-wow-delay="0.1s">
              <li class="ser-svg service-1 d-lg-inline-block d-md-block align-middle mb-2">
                <a class="icon-image"></a>
              </li>
              <li class="ser-t align-middle">
                <h6 class="text-white mb-1">24 x 7 Free Support</h6>
                <p class="mb-0">Online Support 24/7</p>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 col-6 m_service py-md-4 py-sm-2 my-md-0 my-sm-2">
            <ul class="service rounded text-center animate__animated animate__fadeInUp" data-wow-duration="0.8s"
              data-wow-delay="0.2s">
              <li class="ser-svg service-2 d-lg-inline-block d-md-block align-middle mb-2">
                <a class="icon-image"></a>
              </li>
              <li class="ser-t align-middle">
                <h6 class="text-white mb-1">Money Back Guarantee</h6>
                <p class="mb-0">100% Secure Payment</p>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 col-6 m_service py-md-4 py-sm-2 my-md-0 my-sm-2">
            <ul class="service rounded text-center animate__animated animate__fadeInUp" data-wow-duration="0.8s"
              data-wow-delay="0.3s">
              <li class="ser-svg service-3 d-lg-inline-block d-md-block align-middle mb-2">
                <a class="icon-image"></a>
              </li>
              <li class="ser-t align-middle">
                <h6 class="text-white mb-1">Special Gift Cards</h6>
                <p class="mb-0">Give The Perfect Gift</p>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6 col-6 m_service py-md-4 py-sm-2 my-md-0 my-sm-2">
            <ul class="service rounded text-center animate__animated animate__fadeInUp" data-wow-duration="0.8s"
              data-wow-delay="0.4s">
              <li class="ser-svg service-4 d-lg-inline-block d-md-block align-middle mb-2">
                <a class="icon-image"></a>
              </li>
              <li class="ser-t align-middle">
                <h6 class="text-white mb-1">Worldwide Shipping</h6>
                <p class="mb-0">On Order Over $99</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- services end -->
    <!-- extra offer tab -->
    <div class="extra_offer_tab py-xl-3 py-lg-2 py-md-2 py-sm-1 d-md-block d-none text-white text-center">
      <h5 class="m-0 font-weight-bold">
        Hurry Up !! Get Extra 10% OFF, on your first order Coupon Code:
        FIRST10
      </h5>
    </div>
    <!-- extra offer tab -->
    <div class="third_footer">
      <div class="container">
        <div class="th_foo">
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-3 col-12 thi_padd">
              <div class="sec_col">
                <div class="footer_title">
                  <h5 class="text-uppercase text-white">
                    My Account<button class="toggle collapsed" data-toggle="collapse" data-target="#f_account"></button>
                  </h5>
                </div>
                <div class="categorie collapse" id="f_account">
                  <ul>
                    <li><a href="checkout.html">Payments</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="delivery.html">Shipping</a></li>
                    <li><a href="login.html">login</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-12 thi_padd">
              <div class="th_col">
                <div class="footer_title">
                  <h5 class="text-uppercase text-white">
                    categories<button class="toggle collapsed" data-toggle="collapse"
                      data-target="#f_categories"></button>
                  </h5>
                </div>
                <div class="categorie collapse" id="f_categories">
                  <ul>
                    <li><a href="shop-page.html">fashion</a></li>
                    <li><a href="shop-page.html">Watches</a></li>
                    <li><a href="shop-page.html">farnichar</a></li>
                    <li><a href="shop-page.html">Appliances</a></li>
                    <li><a href="shop-page.html">accessories</a></li>
                    <li><a href="shop-page.html">electronics</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-12 thi_padd">
              <div class="fth_col">
                <div class="footer_title">
                  <h5 class="text-uppercase text-white">
                    information<button class="toggle collapsed" data-toggle="collapse"
                      data-target="#fh_information"></button>
                  </h5>
                </div>
                <div class="categorie collapse" id="fh_information">
                  <ul>
                    <li><a href="about-us.html">About</a></li>
                    <li><a href="shopping-cart.html">Information</a></li>
                    <li><a href="shop-page.html">New products</a></li>
                    <li><a href="product.html">Best sales</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-12 left-bor thi_padd">
              <div class="fth_col">
                <div class="footer_title">
                  <h5 class="text-uppercase text-white">
                    Policy info<button class="toggle collapsed" data-toggle="collapse"
                      data-target="#fh_policy"></button>
                  </h5>
                </div>
                <div class="categorie collapse" id="fh_policy">
                  <ul>
                    <li><a href="Privacy.html">Privacy Policy</a></li>
                    <li><a href="Terms-Sale.html">Terms of Sale</a></li>
                    <li>
                      <a href="Privacy.html">Report Abuse & Takedown Policy</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-12 thi_padd f_col">
              <div class="fst_col">
                <div class="footer_title">
                  <h5 class="text-uppercase text-white">
                    contact us<button class="toggle collapsed" data-toggle="collapse" data-target="#f_contact"></button>
                  </h5>
                </div>
                <div class="categorie collapse" id="f_contact">
                  <ul class="add_row">
                    <li>
                      <div class="data1 add contact-ic">
                        <a href="#">Demo A - 2 Puffin Street,<br />
                          Puffinville India, Surat</a>
                      </div>
                    </li>
                    <li>
                      <a href="#" class="contact-ic call_ic">+911234567890</a>
                    </li>
                    <li>
                      <a href="#" class="mail_f contact-ic mail_ic">company@example.com</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-3 col-12 thi_padd footer_5">
              <div class="sec_col f-5">
                <div class="footer_title">
                  <h5 class="text-uppercase text-white">
                    Join Our Newsletter<button class="toggle collapsed" data-toggle="collapse"
                      data-target="#f_about"></button>
                  </h5>
                </div>
                <div class="categorie collapse" id="f_about">
                  <div class="news_dec">
                    <h4>Subscribe for latest stories and promotions</h4>
                  </div>
                  <p class="subscribe">
                    <input type="email" name="EMAIL" placeholder="Your Email Address..." required="" />
                    <input type="submit" value="" />
                  </p>
                </div>
              </div>
              <div class="sec_col">
                <div class="footer_title">
                  <h5 class="text-uppercase text-white">
                    Downlod App<button class="toggle collapsed" data-toggle="collapse"
                      data-target="#f_downlod"></button>
                  </h5>
                </div>
                <div class="categorie collapse" id="f_downlod">
                  <div class="pay-connect links">
                    <div id="pay-connect">
                      <ul class="list-inline list-unstyled">
                        <li>
                          <div class="fb1"></div>
                        </li>
                        <li>
                          <div class="fb2"></div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fifth_footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="text-xl-left text-lg-left text-md-center text-sm-center text-center demo_link d-block">
              2021 @ All rights reserved Powered by <a href="#">demo.com</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="text-center my-lg-0 mt-md-1 mb-md-2 mt-1 mb-2 demo_link d-block">
              <ul class="list-unstyled fsocial list-inline">
                <li class="facebook link d-inline-block">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="instagram link d-inline-block">
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="skype link d-inline-block">
                  <a href="#"><i class="fab fa-skype"></i></a>
                </li>
                <li class="twitter link d-inline-block">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="snapchat link d-inline-block">
                  <a href="#"><i class="fab fa-snapchat-ghost"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="text-xl-right text-lg-right text-md-center text-sm-center text-center demo_link d-block">
              <img src="{% static 'img/Payment.png' %} " alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>